apiVersion: v1
kind: Service
metadata: 
  name: nginx
spec: 
  selector:
    project: roboshop
    component: frontend
    environmanet: dev
  ports:
    - protocol: TCP
      port: 80 #service port
      targetPort: 80 #container port